<li class="country-item">
    <div class = "container">
    <img src="{{this.flags.svg}}" alt="{{this.name.official}} + ' flag'" width='40' height = '30' class="country-flag">
    <p class="country-name">{{this.name.official}}</p>
    </div>
</li>