* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.container {
  display: flex;
  align-items: center;
}

.card-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.country-flag {
  margin-right: 15px;
  object-fit: cover;

}

.country-name {
  font-size: 15px;
  font-weight: bold;
}

.card-country-name {
  font-size: 25px;
  font-weight: bold;
}

.card-country-flag {
  margin-right: 8px;
}

span {
  margin-right: 10px;
}

.country-lang {
  display: flex;

}

.lang-title {
  margin-right: 10px;
}

.lang~.lang::before {
  content: ', ';
}
